<div class="home-container container">
    <div class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui est id quae maiores debitis ducimus laudantium impedit quia nihil eos. Tempore unde, maiores sunt id nam voluptate exercitationem nihil porro!
        Tempora accusamus earum, deserunt illum asperiores repudiandae ab optio cupiditate quos autem et totam ea officiis. Accusantium eaque cupiditate doloremque rerum obcaecati. Molestias illo dicta quis ut.
    </div>
    <div>
        <app-gallery></app-gallery>
    </div>
</div>
<div>
    <app-notice-board></app-notice-board>
</div>
<div>
    <app-class-scroller></app-class-scroller>
</div>