
<div class="container password-container">
    <div class="card text-center" style="width: 20vw;">
        <div class="card-header h5 text-white" style="background-color: #492b77;">Password Reset</div>
        <div class="card-body px-5">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
            
            <div class="form-outline">
                <input type="password" id="password" class="form-control my-2" formControlName="password"/>
                <label class="form-label" for="password">New Password</label>
            </div>
            <div class="form-outline">
                <input type="password" id="repassword" class="form-control my-2" formControlName="repassword"/>
                <label class="form-label" for="repassword">Re-enter New Password</label>
            </div>
        
            <div class="form-outline">
                <input type="password" id="otp" class="form-control mt-4 mb-2" formControlName="otp"/>
                <label class="form-label" for="otp">Submit Otp Here</label>
            </div>

            <button type="submit" [disabled]="!reactiveForm.valid" class="btn w-100 text-white" style="background-color: #492b77;">Reset password</button>
        </form>
        </div>
    </div>
</div>