.student_card{
    display: flex;
    justify-content: space-between;
    border: 1px solid #79A3B1;
    align-items: center;
    padding: 6px 20px;
    box-shadow: 0px 1px 10px 2px rgba(69, 98, 104, 0.2);
    margin: 0;
}

.view_detail_btn{
    background-color: #79A3B1;
}