<div class="about-container" style="margin: 4rem auto;">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-12 about-title">
                <img src="https://images.unsplash.com/photo-1599725427295-6ed79ff8dbef?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2Nob29sJTIwYnVpbGRpbmd8ZW58MHx8MHx8fDA%3D" class="d-block d-md-none mb-4">
                <div class="header-image">
                    <h2>
                        <strong>About</strong>
                        <br>&nbsp;&nbsp;&nbsp;Argus Classes
                    </h2>
                    <div class="image-box">
                        <img src="https://images.unsplash.com/photo-1599725427295-6ed79ff8dbef?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2Nob29sJTIwYnVpbGRpbmd8ZW58MHx8MHx8fDA%3D" class="float-md-center">
                    </div>
                </div>
            </div>
            <div class="col-md-12 about-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium molestiae maiores porro in, totam reiciendis quisquam explicabo ad, officiis minus illum obcaecati, voluptas nulla aut? Totam rem eum unde ducimus?
                Impedit aliquid aperiam quisquam iure quam dolorem aliquam fugit quae vitae corporis asperiores expedita placeat alias, sunt suscipit voluptatem exercitationem inventore porro repellat delectus, in natus cum quo magnam. Consectetur.
                Minima, tempore recusandae? Veniam ab laboriosam, magnam cupiditate nesciunt eum perferendis repellat totam, quidem cumque placeat, praesentium doloribus. Praesentium ipsum numquam consectetur suscipit fuga mollitia, optio sequi eaque assumenda. Saepe.
                Nihil quae voluptas alias odit, exercitationem numquam velit illo? Molestias, pariatur eligendi quia nulla atque consectetur in! Quam ducimus officiis corporis tenetur perferendis at ut minus error earum? Illo, aperiam!
                Recusandae unde placeat nam! Tempora, tenetur aut. Ratione fuga ab sapiente beatae optio velit, rem tempore quae illo eaque alias neque in error officia sed excepturi voluptas totam doloribus. Ea.
                Repellat iste quasi odio possimus ea accusamus unde magni vero, magnam ad quod dolor dolores ut quidem. Et expedita sunt laudantium ea aperiam neque reprehenderit provident vero, eos placeat. Doloremque.
                Suscipit ipsa obcaecati reiciendis sit temporibus quas maiores, eius perspiciatis blanditiis placeat soluta nisi laboriosam, repellendus rerum enim fugit, incidunt molestiae natus! Pariatur tempore ut aut molestias adipisci laborum delectus!
                Similique earum quam culpa iure a incidunt soluta tempore amet, ab, odit, libero reiciendis aut perspiciatis laudantium fugiat! Veniam ipsum magnam eos tempora repellendus quae, ex odit delectus odio earum!
                Officiis odio nulla perferendis, deleniti natus accusantium temporibus voluptatum ipsum iure repudiandae quasi soluta alias nemo pariatur in, maiores laudantium ab eos et qui earum? Laudantium cum recusandae id libero!
                Rerum suscipit voluptate, ratione nemo iste est, dolores minus architecto cumque quia eveniet pariatur natus reiciendis repellendus. Quis aperiam sapiente suscipit labore eveniet necessitatibus repudiandae id, ea voluptatibus soluta unde!
                Laborum deserunt quis qui sit inventore reiciendis, quae, maxime ipsum nisi assumenda nulla quo ad impedit. Sed asperiores doloremque, nam illo obcaecati perferendis, dicta possimus eligendi, blanditiis enim eum voluptatum!
                Dicta repellat adipisci reprehenderit illo explicabo tempore iusto nam aut accusantium, maxime tempora! Delectus repellendus placeat aspernatur enim sit laudantium aliquid vel aperiam dolore. Delectus harum vitae placeat expedita non.
                Ducimus maiores voluptate, inventore assumenda, sequi voluptas molestias porro ea error, impedit nulla. Eveniet error sunt cumque, hic modi harum accusantium rerum consectetur, vero veniam provident fugiat ipsum aut ex?
                Possimus quia accusamus quos, earum veniam non? Minima quo eos, commodi vitae dicta autem cum molestiae neque. Inventore, doloribus harum magni et optio, sed dicta, velit exercitationem pariatur veritatis quia!
                Fuga ea blanditiis totam illum et sed sit aliquid, atque, nulla, voluptas animi deserunt? Qui nihil asperiores odio quas perspiciatis sit, molestiae, maxime alias in corrupti repudiandae! Neque, facere! Nobis.
                Quae quod sit praesentium voluptas aperiam delectus quidem beatae? Odio neque nemo impedit maxime, voluptas velit esse dolorem magni doloribus, eaque recusandae libero aliquid facilis vel expedita illo alias harum?
                Vitae aperiam autem aspernatur perspiciatis nobis, voluptatibus harum iste. Dignissimos eum doloribus ducimus aspernatur, corporis ea illo tempore aliquam ipsam consequatur optio nesciunt quo porro, officia asperiores hic, velit illum.
                Dolores ut distinctio maiores earum aut illo libero omnis dicta quod sed placeat id quo nulla, vero explicabo minima voluptatum eius cum molestias autem ad! Impedit tempora accusantium ut mollitia!
                Dolorem ad necessitatibus reiciendis amet quibusdam, corporis iusto, unde optio accusamus ut nam laudantium, officia expedita aperiam a tempore placeat. Sapiente magnam perspiciatis optio modi aspernatur quas laboriosam assumenda harum?
                Totam non officiis quisquam illum odio velit commodi, doloribus ab possimus deleniti est quis labore perferendis dolore in natus iusto, repellat asperiores dolorum vero culpa. Quod rerum tenetur quam sit.
            </div>
        </div>
    </div>
</div>